version: "3"
networks:
    inception_net:
services:
    wordpress:
        image: wordpress
        depends_on: 
            - mariadb
        networks:
            - inception_net
        env_file: .env
        build:
            context: ./requirements/wordpress
        ports:
            - '9000:9000'
        volumes:
            - wordpress_vol:/var/www/html
        container_name: wordpress
        restart: always
    nginx:
        image: nginx
        networks:
            - inception_net
        build:
            context: ./requirements/nginx
        env_file:
            - .env
        ports: 
            - '443:443'
        volumes:
            - wordpress_vol:/var/www/html
        container_name: nginx
        restart: always
    mariadb:
        image: mariadb
        env_file: .env
        build:
            context: ./requirements/mariadb
            args:
              - WP_DB_NAME=${WP_DB_NAME}
              - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
              - MYSQL_PASSWORD=${MYSQL_PASSWORD}
              - MYSQL_USER=${MYSQL_USER}
        container_name: mariadb
        ports:
            - '3306:3306'
        volumes:
            - mariadb_vol:/var/lib/mysql/
        networks:
            - inception_net
        restart: always
    ftp:
        image: ftp
        env_file: .env
        build:
            context: ./requirements/bonus/ftp
        depends_on:
           - wordpress
        container_name: ftp
        ports:
            - '21:21'
            - '20:20'
        volumes:
            - wordpress_vol:/home/zdnaya/
        networks:
            - inception_net
        restart: always
    adminer:
        image: adminer
        env_file: .env
        build:
            context: ./requirements/bonus/adminer
        depends_on:
            - wordpress
        container_name: adminer
        ports:
            - '5005:5005'
        volumes:
            - wordpress_vol:/var/www/html
        networks:
            - inception_net
        restart: always
    redis:
        image: redis
        build:
            context: ./requirements/bonus/redis
        depends_on:
            - wordpress
        container_name: redis
        ports:
            - '6379:6379'
        networks:
            - inception_net
        restart: always
    grafana:
        image: grafana
        ports:
            - '3000:3000'
            - '8086:8086'
        build:
            context: ./requirements/bonus/grafana
        container_name: grafana
        networks:
            - inception_net
        restart: always
    website:
        image: website
        comtainer_name: website
        build:
            context: ./requirements/bonus/website
        networks:
            - inception_net
        volumes: 
            - wordpress_vol:/var/www/html
        restart: always

volumes:
    wordpress_vol:
        driver: local
        driver_opts:
            type: 'none'
            o: 'bind'
            device: '/home/zdnaya/data/wordpress'
    mariadb_vol:
        driver: local
        driver_opts:
            type: 'none'
            o: 'bind'
            device: '/home/zdnaya/data/mariadb'

