version: "3"
networks:
    inception_net:
services:
    wordpress:
        image: wordpress
        depends_on: 
            - mariadb
        networks:
            - inception_net
        env_file: .env
        build:
            context: ./wordpress
        ports:
            - '9000:9000'
        volumes:
            - wordpress_vol:/var/www/html
        container_name: wordpress
        restart: always
    nginx:
        image: nginx
        networks:
            - inception_net
        build:
            context: ./nginx
        env_file:
            - .env
        ports: 
            - '443:443'
        volumes:
            - wordpress_vol:/var/www/html
        container_name: nginx
        restart: always
    mariadb:
        image: mariadb
        env_file: .env
        build:
            context: ./mariadb
            args:
              - WP_DB_NAME=${WP_DB_NAME}
              - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
              - MYSQL_PASSWORD=${MYSQL_PASSWORD}
              - MYSQL_USER=${MYSQL_USER}
        container_name: mariadb
        ports:
            - '3306:3306'
        volumes:
            - mariadb_vol:/var/lib/mysql/
        networks:
            - inception_net
        restart: always
    ftp:
        image: ftp
        env_file: .env
        build:
            context: ./ftp
        depends_on:
           - wordpress
        container_name: ftp
        ports:
            - '21:21'
            - '20:20'
        volumes:
            - wordpress_vol:/home/
        networks:
            - inception_net
        restart: always
volumes:
    wordpress_vol:
        driver: local
        driver_opts:
            type: 'none'
            o: 'bind'
            device: '/home/kali/data/wordpress'
    mariadb_vol:
        driver: local
        driver_opts:
            type: 'none'
            o: 'bind'
            device: '/home/kali/data/mariadb'

