version: "3"
networks:
    inception_net:
services:
    wordpress:
        depends_on: 
            - mariadb
        networks:
            - inception_net
        env_file: .env
        build:
            context: ./wordpress
        ports:
            - '9000:9000'
        volumes:
            - wordpress_vol:/var/www/html
        restart: always
    nginx:
        networks:
            - inception_net
        build:
            context: ./nginx
        env_file:
            - .env
        ports: 
            - '443:443'
        volumes:
            - wordpress_vol:/var/www/html
        restart: always
    mariadb:
        image: mariadb
        env_file: .env
        build:
            context: ./mariadb
        container_name: mariadb
        ports:
            - '3306:3306'
        volumes:
            - mariadb_vol:/var/lib/mysql/
        networks:
            - inception_net
        restart: always
volumes:
    wordpress_vol:
        driver: local
        driver_opts:
            type: 'none'
            o: 'bind'
            device: '/home/kali/data/wordpress'
    mariadb_vol:
        driver: local
        driver_opts:
            type: 'none'
            o: 'bind'
            device: '/home/kali/data/mariadb'

